/* ===== reset ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins";
  color: var(--black);
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* ===== custom properties ===== */
:root {
  /* primary */
  --yellow: hsl(44, 100%, 69%);
  /* secondary */
  --black: hsl(0, 0%, 20%);
  --icons-black: hsl(0, 0%, 0%);
}
/* ===== header ===== */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.155);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.08);
}
.header__nav--logo {
  font-family: "Archivo Black";
  font-size: 1.2rem;
}
.header__nav--list {
  display: flex;
  list-style: none;
  font-family: "Roboto Mono";
  font-weight: 300;
}
.header__nav--list li a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: var(--black);
  display: none; /* ACORDARSE DE SACAR */
}
/* ===== main ===== */
.main {
  margin: 2rem 1rem;
}
/* ===== section home ===== */
.section__home {
  margin-bottom: 4rem;
}
.section__home div {
  margin: 2rem 0;
}
.section__home--img {
  padding: 0 1.3rem;
}
.section__home--img img {
  border-radius: 50%;
  box-shadow: 5px -5px 0 1px var(--yellow);
}
.section__home--welcome h1 {
  font-size: 2rem;
  line-height: 2.3rem;
}
.name {
  color: var(--yellow);
  text-transform: uppercase;
}
.section__home--welcome p {
  margin: 1.5rem 0;
  font-weight: 300;
}
.btn {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  border: 1px solid hsla(0, 0%, 0%, 0.155);
  border-radius: 50%;
  box-shadow: 0 0 5px 3px hsla(0, 0%, 0%, 0.144);
  font-size: 1.5rem;
}
.btn-dark {
  background-color: var(--icons-black);
  color: white;
}
.btn-white {
  background-color: white;
  color: black;
}
/* ===== section about ===== */
.section__about {
  padding-bottom: 4rem; /* no olvidarse de cambiar por margin */
}
.section__about h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.section__about p {
  margin-bottom: 1.5rem;
}
