/* ===== reset ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins";
  color: var(--black);
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* ===== custom properties ===== */
:root {
  /* primary */
  --yellow: hsl(44, 100%, 69%);
  /* secondary */
  --black: hsl(0, 0%, 20%);
  --icons-black: hsl(0, 0%, 0%);
}
/* ===== header ===== */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.155);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.08);
}
.header__nav--logo {
  font-family: "Archivo Black";
  font-size: 1.2rem;
}
.header__nav--list {
  display: flex;
  list-style: none;
  font-family: "Roboto Mono";
  font-weight: 300;
}
.header__nav--list li a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: var(--black);
  display: none; /* ACORDARSE DE SACAR */
}
