/* ===== reset ===== */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Poppins";
  color: var(--black);
  text-align: center;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
a {
  color: white;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
section[id] {
  scroll-margin-top: 5rem;
}
/* ===== custom properties ===== */
:root {
  /* primary */
  --yellow: hsl(44, 100%, 69%);
  /* secondary */
  --black: hsl(0, 0%, 20%);
  --icons-black: hsl(0, 0%, 0%);
}
/* ===== header ===== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.155);
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.08);
}
.header__nav--logo {
  font-family: "Archivo Black";
  font-size: 1.2rem;
}
.header__nav--list {
  display: flex;
  list-style: none;
  font-family: "Roboto Mono";
  font-weight: 300;
}
.header__nav--list li a {
  margin: 0 0.5rem;
  text-decoration: none;
  color: var(--black);
  display: none;
}
/* ===== main ===== */
.main {
  margin: 5rem 0;
}
/* ===== section home ===== */
.section__home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
  margin-bottom: 4rem;
}
.section__home div {
  margin: 2rem 0;
}
.section__home--img {
  padding: 0 1.3rem;
}
.section__home--img img {
  border-radius: 50%;
  max-width: 350px;
  box-shadow: 5px -5px 0 1px var(--yellow);
}
.section__home--welcome h1 {
  font-size: 2rem;
  line-height: 2.3rem;
}
.name {
  color: var(--yellow);
  text-transform: uppercase;
}
.section__home--welcome p {
  margin: 1.5rem 0;
  font-weight: 300;
}
.btn {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  border: 1px solid hsla(0, 0%, 0%, 0.155);
  border-radius: 50%;
  box-shadow: 0 0 5px 3px hsla(0, 0%, 0%, 0.144);
  font-size: 1.5rem;
}
.btn-dark {
  background-color: var(--icons-black);
  color: white;
}
.btn-white {
  background-color: white;
  color: black;
}
/* ===== section about ===== */
.section__about {
  background-color: hsla(0, 0%, 86%, 0.15);
  padding: 1rem;
}
.section__about,
.section__portfolio,
.section__contact {
  margin-bottom: 4rem;
}
.section__about h2,
.section__portfolio h2,
.section__contact h2 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}
.section__about p,
.section__contact p {
  margin-bottom: 1.5rem;
  font-weight: 300;
}
.section__about--btns {
  margin: 2rem 0;
}
/* ==== section portfolio ===== */
.section__portfolio {
  padding: 0 1rem;
  padding-bottom: 2rem;
}
.section__portfolio h2 {
  font-weight: 700;
  color: var(--yellow);
}
/* card */
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 9px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.121);
  margin-bottom: 2rem;
}
.card__img {
  width: 90%;
}
.card__img picture img {
  border-radius: 9px;
}
.card__project {
  margin-top: 1rem;
}
.card__project h3 {
  font-weight: 500;
}
.card__project p {
  font-weight: 300;
}
.card-btn {
  font-family: "Roboto Mono";
  margin: 1rem 0;
  background-color: white;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 0 5px 1px hsla(0, 0%, 0%, 0.144);
  padding: 0.5rem 1rem;
  margin: 0.3rem;
}
.none {
  display: none;
}
/* ===== section contact ===== */
.section__contact {
  padding-bottom: 2rem;
}
.section__contact button {
  border-radius: 5px;
  height: 2rem;
  border: none;
  background-color: white;
  box-shadow: 0 0 5px 2px hsla(0, 0%, 0%, 0.144);
}
/* ===== footer ===== */
.footer {
  background-color: var(--black);
  padding: 1rem;
}
.ft-section {
  margin: 1rem 0;
}
/* ===== hover effects ===== */
.btn-white:hover {
  cursor: pointer;
  background-color: var(--icons-black);
  color: white;
}
/* ===== media querys ===== */
@media (min-width: 800px) {
  .header__nav {
    padding: 1.5rem;
  }
  .header__nav--list li a {
    display: flex;
  }
  .section__home {
    display: flex;
    flex-direction: row-reverse;
    margin: 11rem 0;
  }
  .section__home--welcome {
    max-width: 500px;
  }
  .section__about {
    padding: 11rem 1rem;
  }
  .section__portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    flex-direction: row;
    justify-content: space-between;
    max-width: 800px;
  }
  .card__img {
    width: 60%;
  }
  .card__description {
    width: 50%;
  }
  .none {
    display: block;
  }
}
@media (min-width: 1000px) {
  .section__home--welcome h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .section__home--welcome p {
    font-size: 1.3rem;
  }
  .section__home--img img {
    max-width: 500px;
  }
  .section__about {
    display: flex;
    justify-content: space-around;
  }
  .first-child {
    max-width: 600px;
  }
  .second-child {
    min-width: 500px;
  }
  .btn-desktop {
    border-radius: 10px;
    font-size: 5rem;
    height: 10rem;
    width: 10rem;
    box-shadow: 0 0 10px 7px hsla(0, 0%, 0%, 0.144);
    background-color: white;
    color: black;
  }
}
